<!-- TODO: -->
<footer class="">
  <div class="columns">
    <div class="column is-3 footer-link">
      <a
        href="https://github.com/hengjenchiang/RamenLog"
        class="image is-24x24 ml-6"
      >
        <img src="/img/GitHub-Mark-Light-32px.png" alt="" />
      </a>
      <a
        href="mailto:hengjenchiang@gmail.com?subject=RamenLog問題"
        class="image is-24x24 ml-2"
      >
        <img src="/img/mail.png" alt="" />
      </a>
    </div>
    <div class="column is-6"></div>
    <div class="column is-3 footer-copyright">
      Copyright ©2022 <br />
      All Rights Reserved by James HJ Chiang
    </div>
  </div>
</footer>
