<!-- TODO: -->
<footer>
  <div class="columns">
    <div class="column is-3"></div>
    <div class="column is-6"></div>
    <div class="column is-3 copyright">
      Copyright ©2022 <br />
      All Rights Reserved by James HJ Chiang
    </div>
  </div>
</footer>
