/* body{
    background-color: #000;
} */

body.boilerplate {
  background-image: url('../img/bgwall.jpg'); /* Unsplash: https://unsplash.com/photos/Nm6ojlDO-5c */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.notification {
  white-space: pre-line !important;
}

.navbar {
  background: #fbdfd6; /* fallback for old browsers FBDFD6 fdece0*/
  background: -webkit-linear-gradient(
    to top,
    #fcf9f0,
    #fbdfd6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #fcf9f0,
    #fbdfd6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-menu.is-active {
  background: rgba(256, 256, 256, 0.5);
}
.homepage .navbar {
  background: rgba(00, 00, 00, 0);
}

.comment-figure {
  width: 100px;
}

div.user-form {
  background-color: rgba(20, 10, 10, 0.1);
}

.round-border {
  border-radius: 5px;
}

.carousel {
  overflow: hidden;
}
/* Utility */
.center-text {
  text-align: center;
}

.theme-color {
  background-color: #f7eabc;
}

.good-rating-color {
  color: #ff0000;
}

.has-roundBorder {
  border-radius: 10px;
}

.card-content .subtitle {
  display: flex;
  justify-content: space-between;
}

span.required-field {
  color: #f32;
}

footer {
  height: 64px;
  background-color: #212529;
  color: #fefefe;
}

footer .columns {
  margin: 0;
  height: 100%;
}

footer .footer-copyright {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #777;
}
footer .footer-link {
  display: flex;
  align-items: center;
}
footer .footer-link .image img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.spacing-block {
  margin-bottom: 10rem;
}

section.hero {
  background: linear-gradient(
    90deg,
    rgba(234, 160, 90, 1) 51%,
    rgba(235, 220, 70, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    rgba(234, 160, 90, 1) 51%,
    rgba(235, 220, 70, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(234, 160, 90, 1) 51%,
    rgba(235, 220, 70, 1) 100%
  );
  background: -o-linear-gradient(
    90deg,
    rgba(234, 160, 90, 1) 51%,
    rgba(235, 220, 70, 1) 100%
  );
}

section.hero .hero-bg {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100%;
  background-image: url('../img/hero.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: top right;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1140px;
  max-height: 400px;
}

@media (max-width: 768px) {
  section.hero .hero-bg {
    background-size: 180px;
  }
}

.hero-content {
  font-size: 50px;
  font-weight: 900;
  color: #fefefe;
}
.intro .intro-icon {
  width: 100%;
  height: 64px;
  background-image: url(../img/favicon.ico);
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
