/* body{
    background-color: #000;
} */

body {
  background-image: url('../img/bgwall.jpg'); /* Unsplash: https://unsplash.com/photos/Nm6ojlDO-5c */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.center-text {
  text-align: center;
}

.notification {
  white-space: pre-line !important;
}

.navbar {
  background: #fbdfd6; /* fallback for old browsers FBDFD6 fdece0*/
  background: -webkit-linear-gradient(
    to top,
    #fcf9f0,
    #fbdfd6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #fcf9f0,
    #fbdfd6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.comment-figure {
  width: 100px;
}

div.user-form {
  background-color: rgba(20, 10, 10, 0.1);
}

.round-border {
  border-radius: 5px;
}

.carousel {
  overflow: hidden;
}

.theme-color {
  background-color: #f7eabc;
}

.good-rating-color {
  color: #ff0000;
}

.has-roundBorder {
  border-radius: 10px;
}

.card-content .subtitle {
  display: flex;
  justify-content: space-between;
}
