<%- layout('layout/boilerplate') %>

<section class="section">
  <div class="container">
    <h1 class="title center-text">註冊拉麵log</h1>
    <div class="columns is-multiline">
      <div class="column is-one-third"></div>
      <div class="column is-one-third user-form round-border">
        <form
          action="/register"
          method="POST"
          class="form"
          enctype="multipart/form-data"
        >
          <div class="field">
            <label for="new-username" class="label"
              >帳號<span class="required-field">*</span></label
            >
            <div class="control">
              <input
                type="text"
                class="input"
                id="new-username"
                placeholder="帳號"
                name="user[username]"
                autofocus
                required
                autocomplete="off"
              />
            </div>
          </div>

          <div class="field">
            <label for="new-email" class="label"
              >email<span class="required-field">*</span
              ><span class="required-field is-size-7"
                ><sup>不能重複</sup></span
              ></label
            >
            <div class="control">
              <input
                type="email"
                class="input"
                name="user[email]"
                id="new-email"
                placeholder="email"
                required
              />
            </div>
          </div>

          <div class="field">
            <label for="new-nickname" class="label"
              >暱稱<span class="required-field">*</span></label
            >
            <div class="control">
              <input
                type="text"
                class="input"
                name="user[nickname]"
                id="new-nickname"
                placeholder="暱稱"
                required
              />
            </div>
          </div>

          <div class="field">
            <label class="label" for="new-profilePic">大頭貼 (選填)</label>
            <div class="file has-name is-fullwidth is-right">
              <label class="file-label">
                <input
                  class="file-input"
                  type="file"
                  name="profilePic"
                  id="new-profilePic"
                />
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label"> 選擇檔案… </span>
                </span>
                <span class="file-name" id="file-name"></span>
              </label>
            </div>
          </div>
          <div class="field">
            <button type="button" class="button is-danger reset-file">
              刪除照片
            </button>
          </div>

          <div class="field">
            <label for="new-password" class="label"
              >密碼<span class="required-field"
                >*<span class="required-field is-size-7"
                  ><sup>大小寫英文與數字3~30碼</sup></span
                ></span
              ></label
            >
            <div class="control">
              <input
                type="password"
                class="input"
                name="user[password]"
                placeholder="密碼"
                id="new-password"
                required
                autocomplete="new-password"
              />
            </div>
          </div>

          <div class="field">
            <button class="button is-warning">註冊</button>
            <a class="button is-danger" href="/ramens">取消</a>
          </div>
        </form>
      </div>
      <div class="column is-one-third"></div>
    </div>
  </div>
</section>
